@font-face {
	font-family: 'Ubuntu';
	src: url(fonts/Ubuntu.ttf);
}

@font-face {
	font-family: 'HemiHead';
	src: url(fonts/HemiHead.otf);
}

@font-face {
	font-family: 'PoiretOne';
	src: url(fonts/PoiretOne.ttf);
}

@font-face {
	font-family: 'OpenSans-Light';
	src: url(fonts/OpenSans-Light.ttf);
}

@font-face {
	font-family: 'LEMONMILK-Medium';
	src: url(fonts/LEMONMILK-Medium.otf);
}

@font-face {
	font-family: 'NotoEmoji';
	src: url(fonts/NotoEmoji-VariableFont.ttf);
}

@font-face {
	font-family: 'NotoColorEmoji';
	src: url(fonts/NotoColorEmoji-Regular.ttf);
}


@font-face {
	font-family: 'PermanentMarker';
	src: url(fonts/PermanentMarker.ttf);
}